@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Josefin Slab Regular';
  src: url('/fonts/JosefinSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Thin';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
    font-family: 'Raleway Thin', sans-serif;
    font-weight: 500;
    background-color: var(--color-background);
}

@layer base {
  html.light:root {
    color-scheme: light;
    --color-primary: #bcd978;
    --color-primary-text: #151515;
    --color-secondary: #edf2de;
    --color-secondary-text: #151515;
    --color-accent: #545863;
    --color-accent-text: #d3d3d3;
    --color-background: #ffffff;
    --color-background-highlight: #C3DFE0;
  }
  
  html.dark:root {
    color-scheme: dark;
    --color-primary: #d7bb7e;
    --color-primary-text: #151515;
    --color-secondary: #f3ede2;
    --color-secondary-text: #151515;
    --color-accent: #545863;
    --color-accent-text: #d3d3d3;
    --color-background: #292929;
    --color-background-highlight: #C3DFE0;
  }
}

h1 {
  color: var(--color-accent);
  background-color: var(--color-primary);
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin: 20px 0px;
}

.content ol {
  counter-reset: item;
  list-style: decimal;
}

.content li {
  display: block;
  margin: 10px;
  margin-left: 3em;
  margin-bottom: 1em;
}

.content li::before {
  display: inline-block;
  content: counter(item) ") ";
  counter-increment: item;
  margin-left: -3em;
  margin-right: 1em;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--color-accent);
  color: var(--color-accent-text);
}

.tag {
  background-color: var(--color-accent);
  color: var(--color-accent-text);
  padding: 6px 15px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: inline-block;
}