@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Josefin Slab Regular';
    src: url('/fonts/JosefinSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

html {
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
}

@layer base {
  html.light:root {
    color-scheme: light;
    --color-primary: #FFE15D;
    --color-primary-text: #151515;
    --color-secondary: #F49D1A;
    --color-secondary-text: #151515;
    --color-danger: #DC3535;
    --color-accent: #B01E68;
    --color-accent-text: #bdb9b9;
  }
  
  html.dark:root {
    color-scheme: dark;
    --color-primary: #030303;
    --color-primary-text: #f1f1f1;
    --color-secondary: #000000;
    --color-secondary-text: #f1f1f1;
    --color-danger: #0c0c0c;
    --color-accent: #1b1b1b;
    --color-accent-text: #bdb9b9;
  }
}

h1 {
  color: var(--color-accent);
  font-weight: 700;
}

.content ol {
  counter-reset: item;
  list-style: decimal;
}

.content li {
  display: block;
  margin: 10px;
  margin-left: 3em;
  margin-bottom: 1em;
}

.content li::before {
  display: inline-block;
  content: counter(item) ") ";
  counter-increment: item;
  margin-left: -3em;
  margin-right: 1em;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--color-accent);
  color: var(--color-accent-text);
}