---
import { type CollectionEntry } from 'astro:content';
import RecipeLayout from '@/layouts/RecipeLayout';
import { getRecipes } from '@/utils';
import Ingredients from '@/components/Ingredients';
import RecipeHeader from '@/components/RecipeHeader';
import OtherRecipes from '@/components/OtherRecipes';

// const recipes = await getCollection('recipe');
export async function getStaticPaths() {
	const recipes = await getRecipes();

	return recipes.map((recipe) => ({
		params: { slug: recipe.slug },
		props: recipe
	}));
}
type Props = CollectionEntry<'recipe'>;

const recipe = Astro.props;
const ingredients = recipe.data.ingredients;
const portion = recipe.data.portion;

const { Content } = await recipe.render();
// const { Content, headings, remarkPluginFrontmatter } = await recipe.render()

---

<RecipeLayout
    id={ recipe.id }
    data={ recipe.data }>
    <Ingredients
        ingredients={ ingredients }
        portion={ portion } />
    <RecipeHeader
        title={ recipe.data.title }
        image={ recipe.data.image }
        overview={ recipe.data.overview }
        description={ recipe.data.description }
        tags={ recipe.data.tags } />
    <div class="content">
        <Content />
    </div>
    <OtherRecipes>
    </OtherRecipes>
    <style>
        .content {
            grid-area: content;
            padding: 20px;
        }
    </style>
</RecipeLayout>