---
import HeaderLink from '@/components/HeaderLink'
import TagIcon from './icons/TagIcon.astro'
import ThemeSwitch from './ThemeSwitch.astro'
---

<nav>
	<div class="links">
		<a class='' href='/'>Home</a>
	</div>

	<div>

	</div>

	<div class="options">
		<span>
			<ThemeSwitch />
		</span>
		<span>
			<HeaderLink href='/tags'>
				<TagIcon /> Tags
			</HeaderLink>
		</span>
	</div>
</nav>

<style>
	nav {
		grid-area: header;
		display: inline-grid;
		grid-template-columns: auto auto auto;;
		background-color: var(--color-primary);
		color: var(--color-primary-text);
	}

	.options {
		display: flex;
		justify-content: end;
		align-items: center;
	}

	.options > span {
		white-space: nowrap;
		width: 4.5em;
		text-align: center;
	}

	.links {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.links > a {
		margin-left: 0.5em;
		padding-right: 0.5em;
		white-space: nowrap;
		border-right: 1px solid var(--color-accent);
	}
</style>