---
import { Image } from 'astro:assets'
import type { RecipeTeaser } from 'src/utils/recipe';

type Props = {
	teaser: RecipeTeaser
}

const { teaser } = Astro.props;
---

<div class="wrapper">
    <a class='relative overflow-hidden' href={`/recipe/${teaser.slug}/`}>
		<Image
			src={teaser.image}
			width={600}
			height={600}
			format='webp'
			class='h-full min-w-full object-cover'
			alt={`img of ${teaser.title}`} >
		</Image>

		<div class='infos'>
			<h1 class=''>{ teaser.title }</h1>
			<div class='timeAndTags'>
				<span class="font-bold">{ teaser.overview.totalTime }</span> <span>{ teaser.overview.totalTimeUnit }</span>
				|
				{
					teaser.tags && teaser.tags.map(tag => (<span class="smallTag">{tag}</span> ))
				}
			</div>
		</div>
	</a>
</div>

<style>
.wrapper {
	aspect-ratio: 1/1;
	position: relative;
}

img {
	object-fit: cover;
}

.infos {
	position: relative;
	float: left;
	width: 80%;
	margin-top: -4.5em;
	padding: 0.5em 1em;
	margin-left: 0.5em;
	background-color: var(--color-secondary);
}

.timeAndTags {
	overflow: hidden;
	white-space: nowrap;
	color: var(--color-primary-text);
}

.smallTag {
	margin-right: 0.5em;
}

h1 {
  background-color: unset;
  text-align: unset;
  font-size: unset;
  margin: unset;
}

@media screen and (max-width: 768px) {
	.infos {
		font-size: 0.8em;
	}
}
</style>