---
import RecipeCard from './RecipeCard.astro'
import { getLatestRecipes } from 'src/utils/recipe'

const recipes = await getLatestRecipes();

---

<section class="gallery">
{
    recipes && recipes.map((recipe) => {
        return (
            <div>
                <RecipeCard
                    teaser={recipe} />
            </div>
        )
    })
}
</section>

<style>
.gallery {
    /* grid-area: sidepanelleft / content / sidepanelright;  */
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
}

.gallery > div {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

@media screen and (max-width: 768px) {
    .gallery {
        /* grid-area: sidepanelleft / content / sidepanelright;  */
        grid-row: 3;
        display: grid;
        padding: 0 1em;
        grid-area: content;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery > div {
        grid-column: span 1;
        grid-row: span 1;
        max-width: calc(50vw - 1em - 7.5px);
    }
}

.gallery > div {
    aspect-ratio: 1/1;
}
</style>