---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = {
    title: string;
    image: CollectionEntry<'recipe'>['data']['image'];
    overview: CollectionEntry<'recipe'>['data']['overview'];
    description: CollectionEntry<'recipe'>['data']['description'];
    tags: CollectionEntry<'recipe'>['data']['tags'];
}

const { title, image, overview, description, tags } = Astro.props;

---

<div class="recipeHeader">
    <div class="h-full w-1/2 imageContainer">
        <Image
            src={image}
            width={600}
            height={200}
            format='webp'
            class='object-cover h-full w-full'
            alt={`img of ${title}`}/>
    </div>
    <div class="w-1/2 infoContainer">
        <h1>{title}</h1>
        <div class="timeContainer">
            Kochzeit: <span class="font-bold">{ overview.activeTime }</span> <span>{ overview.activeTimeUnit }</span>
            Gesamtzeit: <span class="font-bold">{ overview.totalTime }</span> <span>{ overview.totalTimeUnit }</span>
        </div>
        <div class="descriptionContainer">
            { description }
        </div>
        <div class="tagContainer">
            {
                tags && tags.map(tag => (<span class="tag">{tag}</span>))
            }
        </div>
    </div>
</div>

<style>
    .recipeHeader {
        grid-area: recipeHeader;
        height: 400px;
        display: flex;
        background-color: var(--color-background);
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .imageContainer {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }

    .infoContainer {
        padding: 0px 20px;
    }

    .infoContainer > div {
        /* padding: 40px; */
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 20px;
    }
    
    .timeContainer {
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 0px;
        padding-right: 0px;
        /* margin-top: 40px; */
        background-color: var(--color-secondary);
        color: var(--color-secondary-text);
    }

    .descriptionContainer {
        /* margin-left: 40px;
        margin-top: 10px; */
    }

    .tagContainer {
        /* padding: 0px 40px; */
        /* width: 100%; */
    }

    h1 {
        font-size: 2rem;
        margin: 20px 0px;
        text-align: center;
        background-color: var(--color-primary);
    }

    .tag {
        background-color: var(--color-accent);
        color: var(--color-accent-text);
        padding: 6px 15px;
        border-radius: 15px;
        margin-right: 5px;
        margin-bottom: 10px;
        display: inline-block;
    }
</style>