---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = {
    title: string;
    image: CollectionEntry<'recipe'>['data']['image'];
    overview: CollectionEntry<'recipe'>['data']['overview'];
    description: CollectionEntry<'recipe'>['data']['description'];
    tags: CollectionEntry<'recipe'>['data']['tags'];
}

const { title, image, overview, description, tags } = Astro.props;

---

<div class="recipeHeader">
    <div class="imageContainer">
        <Image
            src={image}
            width={600}
            height={600}
            format='webp'
            class='object-cover h-full w-full'
            alt={`img of ${title}`}/>
    </div>
    <div class="infoContainer">
        <h1>{title}</h1>
        <div class="timeContainer">
            Kochzeit: <span class="font-bold">{ overview.activeTime }</span> <span>{ overview.activeTimeUnit }</span>
            Gesamtzeit: <span class="font-bold">{ overview.totalTime }</span> <span>{ overview.totalTimeUnit }</span>
        </div>
        <div class="descriptionContainer">
            { description }
        </div>
        <div class="tagContainer">
            {
                tags && tags.map(tag => (<span class="tag">{tag}</span>))
            }
        </div>
    </div>
</div>

<style>
    .recipeHeader {
        grid-area: recipeHeader;
        height: 400px;
        display: flex;
        background-color: var(--color-background);
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .imageContainer {
        width: 50%;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }

    .infoContainer {
        width: 50%;
        padding: 0px 20px;
    }

    .infoContainer > div {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 20px;
    }
    
    .timeContainer {
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: var(--color-secondary);
        color: var(--color-secondary-text);
    }

    h1 {
        font-size: 2rem;
        margin: 20px 0px;
        text-align: center;
        background-color: var(--color-primary);
    }

    @media screen and (max-width: 768px) {
        .recipeHeader {
            flex-direction: column;
            height: auto;
        }

        .imageContainer {
            width: 100%;
            clip-path: unset;
            display: block;
            height: 300px;
        }

        .infoContainer {
            width: 100%;
            display: block;
            height: 400px;
        }

        .recipeHeader {
            height: 700px;
        }
    }
</style>