---
import RecipeCard from './RecipeCard.astro'
import { getLatestRecipes } from 'src/utils/recipe'

const recipes = await getLatestRecipes();

---

<section class="gallery">
{
    recipes && recipes.map((recipe) => {
        return (
            <div>
                <RecipeCard
                    teaser={recipe}/>
            </div>
        )
    })
}
</section>

<style>
.gallery {
    /* grid-area: sidepanelleft / content / sidepanelright;  */
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
}

.gallery > div {
    grid-column-end: span 2;
    grid-row-end: span 2;
    transition: all 0.3s ease-in-out;
}

/* .gallery > div:nth-child(even) {
    grid-column-end: span 4;
    grid-row-end: span 4; 
} */

/* .gallery > div:nth-child(odd) {
    grid-column-end: span 2;
    grid-row-end: span 2; 
} */

.gallery > div {
    aspect-ratio: 1/1;
}
</style>