---
---

<div class="wrapper">
    <h1>Adas Rezeptsammlung</h1>
    <p>
        Für einmal habe ich meine Rezepte gemessen und gewogen, um sie hier festzuhalten.
    </p>
</div>

<style>
    h1 {
        font-size: 2rem;
        margin: 20px 0px;
        text-align: center;
        background-color: var(--color-primary);
    }

    .wrapper {
        grid-area: recipeHeader;
        text-align: center;
        height: 30vh;
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>